body
{
	margin:0;
	padding:0;
	
	background:black;
	color:white;
}

#canvasGame
{
	display:block;
	margin:0 auto;
}

a{color:rgba(178,48,116,1);text-decoration:none;}
a:hover{text-decoration:underline;}

#header,#footer{text-align: center;}